<a href="https://colab.research.google.com/github/Chongphob-Sr/Python-DPU/blob/main/Python_1_Participant_Chongphob.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Crash Course
This is a quick Python recap; meant for either 
- those who are already experienced in Python programming, or
- those who have some programming background and want to get up to speed with Python.

Notebook written by Papoj Thamjaroenporn, 2022.

Some original materials by Mathieu Blondel.

## Getting Started: Hello World!

In [ ]:
# Your code her
print("Hello World !")

Hello World !

In [ ]:
# Which Python version am I using?
!python --version

Python 3.8.10

In [ ]:
print("TCRB')

SyntaxError: ignored

## About Jupyter Notebook and Google Colab

We will use Jupyter notebooks and Google colab as the primary way to practice machine learning. 

Notebooks are a great way to mix executable **code** with **rich contents** (HTML, images, equations written in LaTeX). 

Example of a LaTeX equation:

-- Your equation here --
$$y = mx^ + b$$

Example of an image attachment:
![CoLab Logo](https://www.vlrtraining.in/wp-content/uploads/2020/10/logo-devops-768x876.png)

## Python Comments

A function looks like this: `f(x)`.
- `x` is the input,
- `f` is the name of your function,
- `f(x)` is the output.

So `print` and `str` are functions.

In [ ]:
# This is a comment
print("Your code runs here.")

print("Your code here will also run.") # But this will not run

"""You can also write
multiple lines of code
using triple-quote notation.
"""
x = 1
y = 2
print("Your code here will run yet again. What's x + y? Answer: " + str(x + y))

Your code runs here.
Your code here will also run.
Your code here will run yet again. What's x + y? Answer: 3

## Assignment, Variables, Operators

In [ ]:
x = 10
print(x)

10

In [ ]:
# Reassignment with replacement
x = 12
print(x)

12

In [ ]:
# Reassignment with increment
x = x + 3
print(x)

15

In [ ]:
# Reassignment with increment (a shortcut)
x += 3
print(x)

18

In [ ]:
# Order of precedence
7 + 20 / 5

11.0

### Exercise: Assignment, Variables, Operators

For each of the following exercises, do it in a single block.

#### Exercise AVO.1
1. Create a variable `x` and assign a number `10` to `x`.
2. Add `5` to `x`.
3. Display the value of `x` with `print`.

In [ ]:
# Your code here
x = 10
x += 5
print(x)

15

#### Exercise AVO.2
1. Reassign variable `x` to have a value of `50/20`.
2. Display the value of `x` with `print`. What do you expect to see?

In [ ]:
# Your code here
x = 50/20
print(x)

2.5

#### Exercise AVO.3
1. Reassign variable `x` to have a value of `10`.
2. Create a variable `y` and assign a number `-2` to it.
3. Calculate and print `x % 3 + y * 2`. What do you expect to see?

In [ ]:
# Your code here
x = 10
y = -2

# Mathematical explanation:
# x % 3 + y * 2 = (x % 3) + (y * 2)
#               = (10 % 3) + (-2 * 2)
#               = 1 + (-4)
#               = -3

print(x % 3 + y * 2)

-3

#### Exercise 1.4
Fix the following code with string concatenation and type casting. Alternatively, use the f-string.

In [ ]:
date = 8

In [ ]:
# Uncomment this
print("Today's date is " + str(date))

Today's date is 8

In [ ]:
# Uncomment this
print(f"Today's date is {date}")

Today's date is 8

## Container Type: List
Lists have a dynamic size and elements can be added (appended) to, inserted to, or removed from them. Elements can also be reassigned in place.

In [ ]:
my_list = [10, 20, 30]
print(my_list)

[10, 20, 30]

In [ ]:
my_list.append(50)
print(my_list)

[10, 20, 30, 50]

In [ ]:
# Access: index starts at 0
my_list[2]

30

In [ ]:
my_list[1]

20

In [ ]:
my_list[-1]

50

In [ ]:
my_list.insert(2, 70)
print(my_list)

[10, 20, 70, 30, 50]

In [ ]:
my_list.remove(30)
print(my_list)

[10, 20, 70, 50]

In [ ]:
my_list[2] = 100
print(my_list)

[10, 20, 100, 50]

In [ ]:
my_list.pop(2)
print(my_list)

[10, 20, 50]

In [ ]:
# What will this produce?
# my_list[3]

In [ ]:
my_list += [30, 60, 70, 80]
print(my_list)

[10, 20, 50, 30, 60, 70, 80]

In [ ]:
# Slicing with "stop" index will take the elements up to "stop - 1"
my_list[1:4]

[20, 50, 30]

In [ ]:
my_list[1:]

[20, 50, 30, 60, 70, 80]

In [ ]:
my_list[1:-1:2]

[20, 30, 70]

In [ ]:
60 in my_list

True

In [ ]:
len(my_list)

7

In [ ]:
# Tip: create a list with range
my_list = list(range(10)) # n -1
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# range(start, stop, step)
my_list = list(range(2,20,3))
print(my_list)

[2, 5, 8, 11, 14, 17]

### Exercise: Lists
Print the list or output every step.
1. Create a list `x` with elements `10, 20, 30, 40, 50`
2. Check if `35` is an element in the list. Output either `True` or `False`
3. Extract another list from `x` with elements `20, 40` using the list access notation `[]`.
4. Remove `30` from the list.
5. Assign `40` to be `"N/A"` instead.
6. Remove the last element from the list, without specifying the element to remove (but you can specify the _location_).

In [ ]:
# Your code here (you may create multiple cells)
#x = my_list
my_list = [10, 20, 30, 40, 50]
x = my_list
print(x)

[10, 20, 30, 40, 50]

In [ ]:
#Check if 35 is an element in the list. Output either True or False
35 in x

False

In [ ]:
#Extract another list from x with elements 20, 40 using the list access notation [].
x [1:4:2]

[20, 40]

In [ ]:
#Remove 30 from the list.
x.remove(30)
print(x)

[10, 20, 40, 50]

In [ ]:
#Assign 40 to be "N/A" instead.
x[2] = "N/A"
print(x)

[10, 20, 'N/A', 50]

In [ ]:
#Remove the last element from the list, without specifying the element to remove (but you can specify the location)
x = [10, 20, 'N/A', 50]
x.pop(-1)

50

## Strings
Strings are used to store text. They can be delimited using either single quotes `''` or double quotes `""`. 

Strings behave similarly to lists. As such we can access individual elements in exactly the same way.

In [ ]:
# Example: concatenation
x = "Hello "
y = "World!"

# This works just like lists: you just glue the two "lists" together!
print(x + y)

Hello World!

### Exercise: Strings
Create a string `x` with `"Hello World!"`. Then:
1. Find out the length of `x` with `len`.
2. Check if `"lo"` is part of `x`.
3. Extract substring `"ello"` from `x`
4. Extract substring `"l ol"` from `x`.

In [ ]:
# Your code here (you may create multiple cells)
c = "Hello World!"
print(len(x))

print("lo" in x)

print(x[1:5])

print(x[3:6:2] + x[7:10:2])

12
True
ello
l ol

In [ ]:
print("12 \nTrue\nello\nl ol")

12
True
ello
l ol

## Dictionaries
Dictionaries can be used as some sort of a lookup table, which is useful in many real-world scenarios. For example, you may want to store sales by region.

Dictionaries consist of two parts: "keys" and "values". If you create a dictionary where you can lookup sales by region, the regions are keys and sales numbers are values.

In [ ]:
sales = {"North": 1000,
         "West": 2000,
         "South": 2500,
         "East": 1800}
print(sales)

{'North': 1000, 'West': 2000, 'South': 2500, 'East': 1800}

In [ ]:
# Access
sales["North"]

1000

In [ ]:
sales.keys()

dict_keys(['North', 'West', 'South', 'East'])

In [ ]:
sales.values()

dict_values([1000, 2000, 2500, 1800])

In [ ]:
# Iteration
for (k, v) in sales.items():
  print("Sales in " + k + " region is " + str(v))

Sales in North region is 1000
Sales in West region is 2000
Sales in South region is 2500
Sales in East region is 1800

In [ ]:
# Assignment / Replacement
sales["North"] = 1500
sales["Central"] = 2800
print(sales)

{'North': 1500, 'West': 2000, 'South': 2500, 'East': 1800, 'Central': 2800}

### Exercise: Dictionary
1. Create a dictionary called `inventory` from the following dataset. Use names as keys.

<center>

|Name |Quantity|
|-----|--------|
|Apple|3       |
|Egg  |12      |
|Orange  |30      |
|Bread  |25      |

</center>

2. What's the quantity of `Egg` in our inventory?
3. List all the products we have.
4. Increment the quantity of `Orange` by 15.
5. Log the new inventory where we have `Jelly` with quantity 22. Print the dict.

In [ ]:
#Create a dictionary called inventory from the following dataset. Use names as keys.
data = [
    {"Name": "Apple", "Quantity": 3},
    {"Name": "Egg", "Quantity": 12},
    {"Name": "Orange", "Quantity": 30},
    {"Name": "Bread", "Quantity": 25}
]

inventory = {item["Name"]: item["Quantity"] for item in data}
print(inventory)

{'Apple': 3, 'Egg': 12, 'Orange': 30, 'Bread': 25}

In [ ]:
# What's the quantity of `Egg` in our inventory?
egg_quantity = inventory["Egg"]
print(egg_quantity)

12

In [ ]:
#List all the products we have.
products = list(inventory.keys())
print(products)

['Apple', 'Egg', 'Orange', 'Bread']

In [ ]:
#Increment the quantity of Orange by 15.
inventory["Orange"] += 15
print(inventory)

{'Apple': 3, 'Egg': 12, 'Orange': 45, 'Bread': 25}

In [ ]:
#Log the new inventory where we have Jelly with quantity 22. Print the dict.
inventory["Jelly"] = 22
print(inventory)

{'Apple': 3, 'Egg': 12, 'Orange': 45, 'Bread': 25, 'Jelly': 22}

## Control Flow
You can write code that may execute diffently depending on certain _condition(s)_. Here we discuss boolean data types, boolean operations, and `if` statements.

In [ ]:
# Assign 10 to x
x = 10

# Assign 20 to y
y = 20

In [ ]:
# Compare if 10 equals x
print(x == 10)

# Compare if y is greater than 25
print(y > 25)

True
False

In [ ]:
# Logical operators & Order of Precedence
print(not(x > 10) or (y < 20))
print((x == 10) or (y < 25) and (y > 25))
print(((x == 10) or (y < 25)) and (y > 25))

True
True
False

In [ ]:
if x > 10:
  print("The value of x is greater than 10")
else:
  print("The value of x is less than or equal to 10")

The value of x is less than or equal to 10

In [ ]:
if x > 12:
  print("Great score!")
elif x > 8:
  print("Good score!")
else:
  print("Try again!")

Good score!

In [ ]:
tier = "None"
spending = 700

if spending <= 200:
  tier = "Emerald"
elif spending <= 600:
  tier = "Gold"
else:
  tier = "Platinum"

print("Your tier:", tier)

Your tier: Emerald

### Exercise: Control Flow
Write a simple program that calculates your salesperson's compensation. Take an input from user's keyboard (hint: use `input()`), convert that input to an integer `x`. This is your salesperson's total sales this month. 

- If `x` is greater than `15000`, display `"Your compensation this month is "` followed by 10% of `x`. 
- If `x` is between `5000` and `15000` inclusive, display `"Your compensation this month is "` followed by 5% of `x`.
- Otherwise, display `"Your compensation this month is 250"`.

In [ ]:
#If x is greater than 15000, display "Your compensation this month is " followed by 10% of x.
# Your code here
x = int(input("Enter your total sales this month: "))

if x > 15000:
    compensation = 0.1 * x
    print("Your compensation this month is", compensation)

Enter your total sales this month: 20000
Your compensation this month is 2000.0

In [ ]:
#If x is between 5000 and 15000 inclusive, display "Your compensation this month is " followed by 5% of x.
# Your code here
x = int(input("Enter your total sales this month: "))

if 5000 <= x <= 15000:
    compensation = 0.05 * x
    print("Your compensation this month is", compensation)

Enter your total sales this month: 6000
Your compensation this month is 300.0

In [ ]:
#Otherwise, display "Your compensation this month is 250".
# Your code here
x = int(input("Enter your total sales this month: "))

if 5000 <= x <= 15000:
    compensation = 0.05 * x
    print("Your compensation this month is", compensation)
else:
    print("Your compensation this month is 250")

Enter your total sales this month: 2222
Your compensation this month is 250

In [ ]:
x = int(input("Enter your total sales this month: "))

if x > 15000:
    #compensation = 0.1 * x
    print("Your compensation this month is 10% : "+str(x*0.5))
elif 5000 <= x <= 15000:
    compensation = 0.05 * x
    print("Your compensation this month is 5% :", compensation)
else:
    print("Your compensation this month is 250 :")

Enter your total sales this month: 150111
Your compensation this month is 10% : 75055.5

## Loops
You can write code that performs repetitive tasks without having to write the same code many times.

In [ ]:
x = "Hello World!"
for character in x:
  print(character)

H
e
l
l
o

W
o
r
l
d
!

In [ ]:
for number in [0, 1, 2, 3, 4]:
  print(number)

0
1
2
3
4

In [ ]:
for number in range(10):
  print(number)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Iterate over each element in a list, using indices
index = 0
numbers = list(range(10))
while (index < len(numbers)):
  print(numbers[index])
  index += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Dictionary iteration, revisited
for (k, v) in sales.items():
  print("Sales in " + k + " region is " + str(v))

Sales in North region is 1500
Sales in West region is 2000
Sales in South region is 2500
Sales in East region is 1800
Sales in Central region is 2800

### Exercises: Loops
#### Exercise LOOP.1
Calculate the sum of numbers 1, 2, ..., 1000.

#### Exercise LOOP.2
Calculate the sum of odd numbers from 1, 2, ..., 1000

#### Exercise LOOP.3
Given the `sales` dictionary defined above, calculate total sales from all regions.

In [ ]:
#Exercise LOOP.1
#Calculate the sum of numbers 1, 2, ..., 1000.
# Your code here
sum = 0
for i in range(1001):
    sum += i
print(sum,i)

500500 1000

In [ ]:
sum = 0 
number = 1
while number <=1000:
  sum += number
  number += 1
print(sum)

500500

In [ ]:
#Exercise LOOP.2
#Calculate the sum of odd numbers from 1, 2, ..., 1000
# Your code here
sum = 0
for i in range(1,1001, 2):
    sum += i
print(sum,i)

250000 999

In [ ]:
sum = 0
for i in range(1001):
  if i % 2 == 1:
    sum += i
print(sum,i)

250000 1000

In [ ]:
sum = 0 
number = 1
while number <=999:
  sum += number
  number += 2
print(sum , number)

250000 1001

In [ ]:
#Exercise LOOP.3
#Given the sales dictionary defined above, calculate total sales from all regions.
# Your code here
#sales = {"North": 1000,
#         "West": 2000,
#         "South": 2500,
#         "East": 1800}

sum = 0
for i in sales.values():
  sum = sum + i

print("Given the sales dictionary defined above, calculate total sales from all regions : ",sum)

Given the sales dictionary defined above, calculate total sales from all regions :  7300

## Functions
To improve code readability, it is common to separate the code into different blocks, responsible for performing precise actions: functions. 

A function takes some inputs and process them to return some outputs.

In [ ]:
# A simple function that can be reused
def square(x):
  """Returns the squared input."""
  return x * x

# A function can call another function
# docsting 
def sum_squared(numbers):
  """Returns the sum of squared elements in input.
  
  Parameters
  ----------
  numbers: list
    a list of numbers
  """
  sum = 0
  for number in numbers:
    sum += square(number)
  return sum

In [ ]:
result = square(10)
print(result)

100

In [ ]:
#[2, -1, 4]
# (2*2 , (-1)*(-1) , 4*4)

In [ ]:
# Expect to see 21
samples = [2, -1, 4]
sum_squared(samples)

21

### Exercises: Functions

#### Exercise FUNC.1
Write the [relu](https://en.wikipedia.org/wiki/Rectifier_(neural_networks)) function defined as follows:

$\text{relu}(x) = \left\{
   \begin{array}{rl}
     x, & \text{if }  x \ge 0 \\
     0, & \text{otherwise }.
   \end{array}\right.$

In [ ]:
 def relu(x):
  return x if x >= 0 else 0

In [ ]:
# What do you expect to see?
print(relu(-3))

# What do you expect to see?
print(relu(3))

0
3

#### Exercise FUNC.2
Using a for loop, write a function that computes the [L1 norm](https://mathworld.wolfram.com/L1-Norm.html) of a vector, represented as a list.

Hint: `import math` and you can use `math.sqrt()`

In [ ]:
import math

def l1_norm(vector):
  sum = 0
  for number in vector:
    sum += abs(number)
  return sum

In [ ]:
my_vector = [0.5, -1.2, 3.3, 4.5]

# The result should be 9.5
l1_norm(my_vector)

9.5

#### Exercise FUNC.3 
Using a for loop and a conditional, write a function that returns the maximum value in a vector. You may assume that the given vector always has at least 1 element.

In [ ]:
def max_maximun(vector):
  max_maximun = vector[0]
  for i in vector:
    if i > max_maximun:
      max_maximun = i
  return max_maximun

In [ ]:
my_vector = [0.5, -1.2, 3.3, 4.5]
print(max_maximun(my_vector))

my_vector = [-3.5]
print(max_maximun(my_vector))

my_vector = [-3.5, 2, -1.2, -10, 1]
print(max_maximun(my_vector))

4.5
-3.5
2

In [ ]:
def max_value(vector):
  # Your code here
  #check = ""
  for cal in vector:
    cal = max(vector)
  return cal

In [ ]:
my_vector = [0.5, -1.2, 3.3, 4.5]
print(max_value(my_vector))

my_vector = [-3.5]
print(max_value(my_vector))

my_vector = [-3.5, 2, -1.2, -10, 1]
print(max_value(my_vector))

4.5
-3.5
2

#### Exercise FUNC.4
Write a function that generates a multiplication table given a number as the input. Generate multiplications using multipliers from 1, 2, ..., 12.

Note that this function does not need to `return` anything. It only needs to print some output.

For example, `multiplication_table(5)` should display the following text:

5 x 1 = 5

5 x 2 = 10

5 x 3 = 15

5 x 4 = 20

5 x 5 = 25

5 x 6 = 30

5 x 7 = 35

5 x 8 = 40

5 x 9 = 45

5 x 10 = 50

5 x 11 = 55

5 x 12 = 60

**Extra credit**: accept an additional parameter `max_multiplier` (default = 12), then generate the multiplication table from 1 up to `max_multiplier`.

In [ ]:
def multiplication_table(number, max_multiplier = 12):
  # Your code here
  i = 1
  while i < max_multiplier + 1:
    print(str(number) + " x " + str(i) + " = " + str(number * i))
    i += 1

In [ ]:
multiplication_table(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

## Extra Challenge

In [3]:
import requests
r = requests.get('https://jsonplaceholder.typicode.com/posts') #JSON API
data = r.json()

In [4]:
data

[{'userId': 1,
  'id': 1,
  'title': 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit',
  'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'},
 {'userId': 1,
  'id': 2,
  'title': 'qui est esse',
  'body': 'est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla'},
 {'userId': 1,
  'id': 3,
  'title': 'ea molestias quasi exercitationem repellat qui ipsa sit aut',
  'body': 'et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut'},
 {'userId': 1,
  'id': 4,
  'title': 'eum et est occaecati',
  'body': 'ullam et saepe reiciendis voluptatem adipisci\nsit amet autem assumenda provident rerum culpa\nquis hic commodi nesciunt rem tenetur doloremque ipsam iure\nquis sunt voluptatem rerum illo velit'},
 {'userId': 1,
  'id': 5,
  'title': 'nesciunt quas odio',
  'body': 'repudiandae veniam quaerat sunt sed\nalias aut fugiat sit autem sed est\nvoluptatem omnis possimus esse voluptatibus quis\nest aut tenetur dolor neque'},
 {'userId': 1,
  'id': 6,
  'title': 'dolorem eum magni eos aperiam quia',
  'body': 'ut aspernatur corporis harum nihil quis provident sequi\nmollitia nobis aliquid molestiae\nperspiciatis et ea nemo ab reprehenderit accusantium quas\nvoluptate dolores velit et doloremque molestiae'},
 {'userId': 1,
  'id': 7,
  'title': 'magnam facilis autem',
  'body': 'dolore placeat quibusdam ea quo vitae\nmagni quis enim qui quis quo nemo aut saepe\nquidem repellat excepturi ut quia\nsunt ut sequi eos ea sed quas'},
 {'userId': 1,
  'id': 8,
  'title': 'dolorem dolore est ipsam',
  'body': 'dignissimos aperiam dolorem qui eum\nfacilis quibusdam animi sint suscipit qui sint possimus cum\nquaerat magni maiores excepturi\nipsam ut commodi dolor voluptatum modi aut vitae'},
 {'userId': 1,
  'id': 9,
  'title': 'nesciunt iure omnis dolorem tempora et accusantium',
  'body': 'consectetur animi nesciunt iure dolore\nenim quia ad\nveniam autem ut quam aut nobis\net est aut quod aut provident voluptas autem voluptas'},
 {'userId': 1,
  'id': 10,
  'title': 'optio molestias id quia eum',
  'body': 'quo et expedita modi cum officia vel magni\ndoloribus qui repudiandae\nvero nisi sit\nquos veniam quod sed accusamus veritatis error'},
 {'userId': 2,
  'id': 11,
  'title': 'et ea vero quia laudantium autem',
  'body': 'delectus reiciendis molestiae occaecati non minima eveniet qui voluptatibus\naccusamus in eum beatae sit\nvel qui neque voluptates ut commodi qui incidunt\nut animi commodi'},
 {'userId': 2,
  'id': 12,
  'title': 'in quibusdam tempore odit est dolorem',
  'body': 'itaque id aut magnam\npraesentium quia et ea odit et ea voluptas et\nsapiente quia nihil amet occaecati quia id voluptatem\nincidunt ea est distinctio odio'},
 {'userId': 2,
  'id': 13,
  'title': 'dolorum ut in voluptas mollitia et saepe quo animi',
  'body': 'aut dicta possimus sint mollitia voluptas commodi quo doloremque\niste corrupti reiciendis voluptatem eius rerum\nsit cumque quod eligendi laborum minima\nperferendis recusandae assumenda consectetur porro architecto ipsum ipsam'},
 {'userId': 2,
  'id': 14,
  'title': 'voluptatem eligendi optio',
  'body': 'fuga et accusamus dolorum perferendis illo voluptas\nnon doloremque neque facere\nad qui dolorum molestiae beatae\nsed aut voluptas totam sit illum'},
 {'userId': 2,
  'id': 15,
  'title': 'eveniet quod temporibus',
  'body': 'reprehenderit quos placeat\nvelit minima officia dolores impedit repudiandae molestiae nam\nvoluptas recusandae quis delectus\nofficiis harum fugiat vitae'},
 {'userId': 2,
  'id': 16,
  'title': 'sint suscipit perspiciatis velit dolorum rerum ipsa laboriosam odio',
  'body': 'suscipit nam nisi quo aperiam aut\nasperiores eos fugit maiores voluptatibus quia\nvoluptatem quis ullam qui in alias quia est\nconsequatur magni mollitia accusamus ea nisi voluptate dicta'},
 {'userId': 2,
  'id': 17,
  'title': 'fugit voluptas sed molestias voluptatem provident',
  'body': 'eos voluptas et aut odit natus earum\naspernatur fuga molestiae ullam\ndeserunt ratione qui eos\nqui nihil ratione nemo velit ut aut id quo'},
 {'userId': 2,
  'id': 18,
  'title': 'voluptate et itaque vero tempora molestiae',
  'body': 'eveniet quo quis\nlaborum totam consequatur non dolor\nut et est repudiandae\nest voluptatem vel debitis et magnam'},
 {'userId': 2,
  'id': 19,
  'title': 'adipisci placeat illum aut reiciendis qui',
  'body': 'illum quis cupiditate provident sit magnam\nea sed aut omnis\nveniam maiores ullam consequatur atque\nadipisci quo iste expedita sit quos voluptas'},
 {'userId': 2,
  'id': 20,
  'title': 'doloribus ad provident suscipit at',
  'body': 'qui consequuntur ducimus possimus quisquam amet similique\nsuscipit porro ipsam amet\neos veritatis officiis exercitationem vel fugit aut necessitatibus totam\nomnis rerum consequatur expedita quidem cumque explicabo'},
 {'userId': 3,
  'id': 21,
  'title': 'asperiores ea ipsam voluptatibus modi minima quia sint',
  'body': 'repellat aliquid praesentium dolorem quo\nsed totam minus non itaque\nnihil labore molestiae sunt dolor eveniet hic recusandae veniam\ntempora et tenetur expedita sunt'},
 {'userId': 3,
  'id': 22,
  'title': 'dolor sint quo a velit explicabo quia nam',
  'body': 'eos qui et ipsum ipsam suscipit aut\nsed omnis non odio\nexpedita earum mollitia molestiae aut atque rem suscipit\nnam impedit esse'},
 {'userId': 3,
  'id': 23,
  'title': 'maxime id vitae nihil numquam',
  'body': 'veritatis unde neque eligendi\nquae quod architecto quo neque vitae\nest illo sit tempora doloremque fugit quod\net et vel beatae sequi ullam sed tenetur perspiciatis'},
 {'userId': 3,
  'id': 24,
  'title': 'autem hic labore sunt dolores incidunt',
  'body': 'enim et ex nulla\nomnis voluptas quia qui\nvoluptatem consequatur numquam aliquam sunt\ntotam recusandae id dignissimos aut sed asperiores deserunt'},
 {'userId': 3,
  'id': 25,
  'title': 'rem alias distinctio quo quis',
  'body': 'ullam consequatur ut\nomnis quis sit vel consequuntur\nipsa eligendi ipsum molestiae et omnis error nostrum\nmolestiae illo tempore quia et distinctio'},
 {'userId': 3,
  'id': 26,
  'title': 'est et quae odit qui non',
  'body': 'similique esse doloribus nihil accusamus\nomnis dolorem fuga consequuntur reprehenderit fugit recusandae temporibus\nperspiciatis cum ut laudantium\nomnis aut molestiae vel vero'},
 {'userId': 3,
  'id': 27,
  'title': 'quasi id et eos tenetur aut quo autem',
  'body': 'eum sed dolores ipsam sint possimus debitis occaecati\ndebitis qui qui et\nut placeat enim earum aut odit facilis\nconsequatur suscipit necessitatibus rerum sed inventore temporibus consequatur'},
 {'userId': 3,
  'id': 28,
  'title': 'delectus ullam et corporis nulla voluptas sequi',
  'body': 'non et quaerat ex quae ad maiores\nmaiores recusandae totam aut blanditiis mollitia quas illo\nut voluptatibus voluptatem\nsimilique nostrum eum'},
 {'userId': 3,
  'id': 29,
  'title': 'iusto eius quod necessitatibus culpa ea',
  'body': 'odit magnam ut saepe sed non qui\ntempora atque nihil\naccusamus illum doloribus illo dolor\neligendi repudiandae odit magni similique sed cum maiores'},
 {'userId': 3,
  'id': 30,
  'title': 'a quo magni similique perferendis',
  'body': 'alias dolor cumque\nimpedit blanditiis non eveniet odio maxime\nblanditiis amet eius quis tempora quia autem rem\na provident perspiciatis quia'},
 {'userId': 4,
  'id': 31,
  'title': 'ullam ut quidem id aut vel consequuntur',
  'body': 'debitis eius sed quibusdam non quis consectetur vitae\nimpedit ut qui consequatur sed aut in\nquidem sit nostrum et maiores adipisci atque\nquaerat voluptatem adipisci repudiandae'},
 {'userId': 4,
  'id': 32,
  'title': 'doloremque illum aliquid sunt',
  'body': 'deserunt eos nobis asperiores et hic\nest debitis repellat molestiae optio\nnihil ratione ut eos beatae quibusdam distinctio maiores\nearum voluptates et aut adipisci ea maiores voluptas maxime'},
 {'userId': 4,
  'id': 33,
  'title': 'qui explicabo molestiae dolorem',
  'body': 'rerum ut et numquam laborum odit est sit\nid qui sint in\nquasi tenetur tempore aperiam et quaerat qui in\nrerum officiis sequi cumque quod'},
 {'userId': 4,
  'id': 34,
  'title': 'magnam ut rerum iure',
  'body': 'ea velit perferendis earum ut voluptatem voluptate itaque iusto\ntotam pariatur in\nnemo voluptatem voluptatem autem magni tempora minima in\nest distinctio qui assumenda accusamus dignissimos officia nesciunt nobis'},
 {'userId': 4,
  'id': 35,
  'title': 'id nihil consequatur molestias animi provident',
  'body': 'nisi error delectus possimus ut eligendi vitae\nplaceat eos harum cupiditate facilis reprehenderit voluptatem beatae\nmodi ducimus quo illum voluptas eligendi\net nobis quia fugit'},
 {'userId': 4,
  'id': 36,
  'title': 'fuga nam accusamus voluptas reiciendis itaque',
  'body': 'ad mollitia et omnis minus architecto odit\nvoluptas doloremque maxime aut non ipsa qui alias veniam\nblanditiis culpa aut quia nihil cumque facere et occaecati\nqui aspernatur quia eaque ut aperiam inventore'},
 {'userId': 4,
  'id': 37,
  'title': 'provident vel ut sit ratione est',
  'body': 'debitis et eaque non officia sed nesciunt pariatur vel\nvoluptatem iste vero et ea\nnumquam aut expedita ipsum nulla in\nvoluptates omnis consequatur aut enim officiis in quam qui'},
 {'userId': 4,
  'id': 38,
  'title': 'explicabo et eos deleniti nostrum ab id repellendus',
  'body': 'animi esse sit aut sit nesciunt assumenda eum voluptas\nquia voluptatibus provident quia necessitatibus ea\nrerum repudiandae quia voluptatem delectus fugit aut id quia\nratione optio eos iusto veniam iure'},
 {'userId': 4,
  'id': 39,
  'title': 'eos dolorem iste accusantium est eaque quam',
  'body': 'corporis rerum ducimus vel eum accusantium\nmaxime aspernatur a porro possimus iste omnis\nest in deleniti asperiores fuga aut\nvoluptas sapiente vel dolore minus voluptatem incidunt ex'},
 {'userId': 4,
  'id': 40,
  'title': 'enim quo cumque',
  'body': 'ut voluptatum aliquid illo tenetur nemo sequi quo facilis\nipsum rem optio mollitia quas\nvoluptatem eum voluptas qui\nunde omnis voluptatem iure quasi maxime voluptas nam'},
 {'userId': 5,
  'id': 41,
  'title': 'non est facere',
  'body': 'molestias id nostrum\nexcepturi molestiae dolore omnis repellendus quaerat saepe\nconsectetur iste quaerat tenetur asperiores accusamus ex ut\nnam quidem est ducimus sunt debitis saepe'},
 {'userId': 5,
  'id': 42,
  'title': 'commodi ullam sint et excepturi error explicabo praesentium voluptas',
  'body': 'odio fugit voluptatum ducimus earum autem est incidunt voluptatem\nodit reiciendis aliquam sunt sequi nulla dolorem\nnon facere repellendus voluptates quia\nratione harum vitae ut'},
 {'userId': 5,
  'id': 43,
  'title': 'eligendi iste nostrum consequuntur adipisci praesentium sit beatae perferendis',
  'body': 'similique fugit est\nillum et dolorum harum et voluptate eaque quidem\nexercitationem quos nam commodi possimus cum odio nihil nulla\ndolorum exercitationem magnam ex et a et distinctio debitis'},
 {'userId': 5,
  'id': 44,
  'title': 'optio dolor molestias sit',
  'body': 'temporibus est consectetur dolore\net libero debitis vel velit laboriosam quia\nipsum quibusdam qui itaque fuga rem aut\nea et iure quam sed maxime ut distinctio quae'},
 {'userId': 5,
  'id': 45,
  'title': 'ut numquam possimus omnis eius suscipit laudantium iure',
  'body': 'est natus reiciendis nihil possimus aut provident\nex et dolor\nrepellat pariatur est\nnobis rerum repellendus dolorem autem'},
 {'userId': 5,
  'id': 46,
  'title': 'aut quo modi neque nostrum ducimus',
  'body': 'voluptatem quisquam iste\nvoluptatibus natus officiis facilis dolorem\nquis quas ipsam\nvel et voluptatum in aliquid'},
 {'userId': 5,
  'id': 47,
  'title': 'quibusdam cumque rem aut deserunt',
  'body': 'voluptatem assumenda ut qui ut cupiditate aut impedit veniam\noccaecati nemo illum voluptatem laudantium\nmolestiae beatae rerum ea iure soluta nostrum\neligendi et voluptate'},
 {'userId': 5,
  'id': 48,
  'title': 'ut voluptatem illum ea doloribus itaque eos',
  'body': 'voluptates quo voluptatem facilis iure occaecati\nvel assumenda rerum officia et\nillum perspiciatis ab deleniti\nlaudantium repellat ad ut et autem reprehenderit'},
 {'userId': 5,
  'id': 49,
  'title': 'laborum non sunt aut ut assumenda perspiciatis voluptas',
  'body': 'inventore ab sint\nnatus fugit id nulla sequi architecto nihil quaerat\neos tenetur in in eum veritatis non\nquibusdam officiis aspernatur cumque aut commodi aut'},
 {'userId': 5,
  'id': 50,
  'title': 'repellendus qui recusandae incidunt voluptates tenetur qui omnis exercitationem',
  'body': 'error suscipit maxime adipisci consequuntur recusandae\nvoluptas eligendi et est et voluptates\nquia distinctio ab amet quaerat molestiae et vitae\nadipisci impedit sequi nesciunt quis consectetur'},
 {'userId': 6,
  'id': 51,
  'title': 'soluta aliquam aperiam consequatur illo quis voluptas',
  'body': 'sunt dolores aut doloribus\ndolore doloribus voluptates tempora et\ndoloremque et quo\ncum asperiores sit consectetur dolorem'},
 {'userId': 6,
  'id': 52,
  'title': 'qui enim et consequuntur quia animi quis voluptate quibusdam',
  'body': 'iusto est quibusdam fuga quas quaerat molestias\na enim ut sit accusamus enim\ntemporibus iusto accusantium provident architecto\nsoluta esse reprehenderit qui laborum'},
 {'userId': 6,
  'id': 53,
  'title': 'ut quo aut ducimus alias',
  'body': 'minima harum praesentium eum rerum illo dolore\nquasi exercitationem rerum nam\nporro quis neque quo\nconsequatur minus dolor quidem veritatis sunt non explicabo similique'},
 {'userId': 6,
  'id': 54,
  'title': 'sit asperiores ipsam eveniet odio non quia',
  'body': 'totam corporis dignissimos\nvitae dolorem ut occaecati accusamus\nex velit deserunt\net exercitationem vero incidunt corrupti mollitia'},
 {'userId': 6,
  'id': 55,
  'title': 'sit vel voluptatem et non libero',
  'body': 'debitis excepturi ea perferendis harum libero optio\neos accusamus cum fuga ut sapiente repudiandae\net ut incidunt omnis molestiae\nnihil ut eum odit'},
 {'userId': 6,
  'id': 56,
  'title': 'qui et at rerum necessitatibus',
  'body': 'aut est omnis dolores\nneque rerum quod ea rerum velit pariatur beatae excepturi\net provident voluptas corrupti\ncorporis harum reprehenderit dolores eligendi'},
 {'userId': 6,
  'id': 57,
  'title': 'sed ab est est',
  'body': 'at pariatur consequuntur earum quidem\nquo est laudantium soluta voluptatem\nqui ullam et est\net cum voluptas voluptatum repellat est'},
 {'userId': 6,
  'id': 58,
  'title': 'voluptatum itaque dolores nisi et quasi',
  'body': 'veniam voluptatum quae adipisci id\net id quia eos ad et dolorem\naliquam quo nisi sunt eos impedit error\nad similique veniam'},
 {'userId': 6,
  'id': 59,
  'title': 'qui commodi dolor at maiores et quis id accusantium',
  'body': 'perspiciatis et quam ea autem temporibus non voluptatibus qui\nbeatae a earum officia nesciunt dolores suscipit voluptas et\nanimi doloribus cum rerum quas et magni\net hic ut ut commodi expedita sunt'},
 {'userId': 6,
  'id': 60,
  'title': 'consequatur placeat omnis quisquam quia reprehenderit fugit veritatis facere',
  'body': 'asperiores sunt ab assumenda cumque modi velit\nqui esse omnis\nvoluptate et fuga perferendis voluptas\nillo ratione amet aut et omnis'},
 {'userId': 7,
  'id': 61,
  'title': 'voluptatem doloribus consectetur est ut ducimus',
  'body': 'ab nemo optio odio\ndelectus tenetur corporis similique nobis repellendus rerum omnis facilis\nvero blanditiis debitis in nesciunt doloribus dicta dolores\nmagnam minus velit'},
 {'userId': 7,
  'id': 62,
  'title': 'beatae enim quia vel',
  'body': 'enim aspernatur illo distinctio quae praesentium\nbeatae alias amet delectus qui voluptate distinctio\nodit sint accusantium autem omnis\nquo molestiae omnis ea eveniet optio'},
 {'userId': 7,
  'id': 63,
  'title': 'voluptas blanditiis repellendus animi ducimus error sapiente et suscipit',
  'body': 'enim adipisci aspernatur nemo\nnumquam omnis facere dolorem dolor ex quis temporibus incidunt\nab delectus culpa quo reprehenderit blanditiis asperiores\naccusantium ut quam in voluptatibus voluptas ipsam dicta'},
 {'userId': 7,
  'id': 64,
  'title': 'et fugit quas eum in in aperiam quod',
  'body': 'id velit blanditiis\neum ea voluptatem\nmolestiae sint occaecati est eos perspiciatis\nincidunt a error provident eaque aut aut qui'},
 {'userId': 7,
  'id': 65,
  'title': 'consequatur id enim sunt et et',
  'body': 'voluptatibus ex esse\nsint explicabo est aliquid cumque adipisci fuga repellat labore\nmolestiae corrupti ex saepe at asperiores et perferendis\nnatus id esse incidunt pariatur'},
 {'userId': 7,
  'id': 66,
  'title': 'repudiandae ea animi iusto',
  'body': 'officia veritatis tenetur vero qui itaque\nsint non ratione\nsed et ut asperiores iusto eos molestiae nostrum\nveritatis quibusdam et nemo iusto saepe'},
 {'userId': 7,
  'id': 67,
  'title': 'aliquid eos sed fuga est maxime repellendus',
  'body': 'reprehenderit id nostrum\nvoluptas doloremque pariatur sint et accusantium quia quod aspernatur\net fugiat amet\nnon sapiente et consequatur necessitatibus molestiae'},
 {'userId': 7,
  'id': 68,
  'title': 'odio quis facere architecto reiciendis optio',
  'body': 'magnam molestiae perferendis quisquam\nqui cum reiciendis\nquaerat animi amet hic inventore\nea quia deleniti quidem saepe porro velit'},
 {'userId': 7,
  'id': 69,
  'title': 'fugiat quod pariatur odit minima',
  'body': 'officiis error culpa consequatur modi asperiores et\ndolorum assumenda voluptas et vel qui aut vel rerum\nvoluptatum quisquam perspiciatis quia rerum consequatur totam quas\nsequi commodi repudiandae asperiores et saepe a'},
 {'userId': 7,
  'id': 70,
  'title': 'voluptatem laborum magni',
  'body': 'sunt repellendus quae\nest asperiores aut deleniti esse accusamus repellendus quia aut\nquia dolorem unde\neum tempora esse dolore'},
 {'userId': 8,
  'id': 71,
  'title': 'et iusto veniam et illum aut fuga',
  'body': 'occaecati a doloribus\niste saepe consectetur placeat eum voluptate dolorem et\nqui quo quia voluptas\nrerum ut id enim velit est perferendis'},
 {'userId': 8,
  'id': 72,
  'title': 'sint hic doloribus consequatur eos non id',
  'body': 'quam occaecati qui deleniti consectetur\nconsequatur aut facere quas exercitationem aliquam hic voluptas\nneque id sunt ut aut accusamus\nsunt consectetur expedita inventore velit'},
 {'userId': 8,
  'id': 73,
  'title': 'consequuntur deleniti eos quia temporibus ab aliquid at',
  'body': 'voluptatem cumque tenetur consequatur expedita ipsum nemo quia explicabo\naut eum minima consequatur\ntempore cumque quae est et\net in consequuntur voluptatem voluptates aut'},
 {'userId': 8,
  'id': 74,
  'title': 'enim unde ratione doloribus quas enim ut sit sapiente',
  'body': 'odit qui et et necessitatibus sint veniam\nmollitia amet doloremque molestiae commodi similique magnam et quam\nblanditiis est itaque\nquo et tenetur ratione occaecati molestiae tempora'},
 {'userId': 8,
  'id': 75,
  'title': 'dignissimos eum dolor ut enim et delectus in',
  'body': 'commodi non non omnis et voluptas sit\nautem aut nobis magnam et sapiente voluptatem\net laborum repellat qui delectus facilis temporibus\nrerum amet et nemo voluptate expedita adipisci error dolorem'},
 {'userId': 8,
  'id': 76,
  'title': 'doloremque officiis ad et non perferendis',
  'body': 'ut animi facere\ntotam iusto tempore\nmolestiae eum aut et dolorem aperiam\nquaerat recusandae totam odio'},
 {'userId': 8,
  'id': 77,
  'title': 'necessitatibus quasi exercitationem odio',

In [5]:
#With Paddas
import pandas as pd
df = pd.json_normalize(data)
df.head()

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...

In [6]:
df ['userId'].value_counts()

1     10
2     10
3     10
4     10
5     10
6     10
7     10
8     10
9     10
10    10
Name: userId, dtype: int64

In [ ]:
# Your code here
post_count = {}

for record on data:
  if record['userId']

In [ ]:
value = 2

In [ ]:
name = value

count = 2