<a href="https://colab.research.google.com/github/Chongphob-Sr/Python-DPU/blob/main/Python_1_Participant_Chongphob.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Crash Course
This is a quick Python recap; meant for either 
- those who are already experienced in Python programming, or
- those who have some programming background and want to get up to speed with Python.

Notebook written by Papoj Thamjaroenporn, 2022.

Some original materials by Mathieu Blondel.

## Getting Started: Hello World!

In [ ]:
# Your code her
print("Hello World !")

Hello World !

In [ ]:
# Which Python version am I using?
!python --version

Python 3.8.10

In [ ]:
print("TCRB')

SyntaxError: ignored

## About Jupyter Notebook and Google Colab

We will use Jupyter notebooks and Google colab as the primary way to practice machine learning. 

Notebooks are a great way to mix executable **code** with **rich contents** (HTML, images, equations written in LaTeX). 

Example of a LaTeX equation:

-- Your equation here --
$$y = mx^ + b$$

Example of an image attachment:
![CoLab Logo](https://www.vlrtraining.in/wp-content/uploads/2020/10/logo-devops-768x876.png)

## Python Comments

A function looks like this: `f(x)`.
- `x` is the input,
- `f` is the name of your function,
- `f(x)` is the output.

So `print` and `str` are functions.

In [ ]:
# This is a comment
print("Your code runs here.")

print("Your code here will also run.") # But this will not run

"""You can also write
multiple lines of code
using triple-quote notation.
"""
x = 1
y = 2
print("Your code here will run yet again. What's x + y? Answer: " + str(x + y))

Your code runs here.
Your code here will also run.
Your code here will run yet again. What's x + y? Answer: 3

## Assignment, Variables, Operators

In [ ]:
x = 10
print(x)

10

In [ ]:
# Reassignment with replacement
x = 12
print(x)

12

In [ ]:
# Reassignment with increment
x = x + 3
print(x)

15

In [ ]:
# Reassignment with increment (a shortcut)
x += 3
print(x)

18

In [ ]:
# Order of precedence
7 + 20 / 5

11.0

### Exercise: Assignment, Variables, Operators

For each of the following exercises, do it in a single block.

#### Exercise AVO.1
1. Create a variable `x` and assign a number `10` to `x`.
2. Add `5` to `x`.
3. Display the value of `x` with `print`.

In [ ]:
# Your code here
x = 10
x += 5
print(x)

15

#### Exercise AVO.2
1. Reassign variable `x` to have a value of `50/20`.
2. Display the value of `x` with `print`. What do you expect to see?

In [ ]:
# Your code here
x = 50/20
print(x)

2.5

#### Exercise AVO.3
1. Reassign variable `x` to have a value of `10`.
2. Create a variable `y` and assign a number `-2` to it.
3. Calculate and print `x % 3 + y * 2`. What do you expect to see?

In [ ]:
# Your code here
x = 10
y = -2

# Mathematical explanation:
# x % 3 + y * 2 = (x % 3) + (y * 2)
#               = (10 % 3) + (-2 * 2)
#               = 1 + (-4)
#               = -3

print(x % 3 + y * 2)

-3

#### Exercise 1.4
Fix the following code with string concatenation and type casting. Alternatively, use the f-string.

In [ ]:
date = 8

In [ ]:
# Uncomment this
print("Today's date is " + str(date))

Today's date is 8

In [ ]:
# Uncomment this
print(f"Today's date is {date}")

Today's date is 8

## Container Type: List
Lists have a dynamic size and elements can be added (appended) to, inserted to, or removed from them. Elements can also be reassigned in place.

In [ ]:
my_list = [10, 20, 30]
print(my_list)

[10, 20, 30]

In [ ]:
my_list.append(50)
print(my_list)

[10, 20, 30, 50]

In [ ]:
# Access: index starts at 0
my_list[2]

30

In [ ]:
my_list[1]

20

In [ ]:
my_list[-1]

50

In [ ]:
my_list.insert(2, 70)
print(my_list)

[10, 20, 70, 30, 50]

In [ ]:
my_list.remove(30)
print(my_list)

[10, 20, 70, 50]

In [ ]:
my_list[2] = 100
print(my_list)

[10, 20, 100, 50]

In [ ]:
my_list.pop(2)
print(my_list)

[10, 20, 50]

In [ ]:
# What will this produce?
# my_list[3]

In [ ]:
my_list += [30, 60, 70, 80]
print(my_list)

[10, 20, 50, 30, 60, 70, 80]

In [ ]:
# Slicing with "stop" index will take the elements up to "stop - 1"
my_list[1:4]

[20, 50, 30]

In [ ]:
my_list[1:]

[20, 50, 30, 60, 70, 80]

In [ ]:
my_list[1:-1:2]

[20, 30, 70]

In [ ]:
60 in my_list

True

In [ ]:
len(my_list)

7

In [ ]:
# Tip: create a list with range
my_list = list(range(10)) # n -1
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# range(start, stop, step)
my_list = list(range(2,20,3))
print(my_list)

[2, 5, 8, 11, 14, 17]

### Exercise: Lists
Print the list or output every step.
1. Create a list `x` with elements `10, 20, 30, 40, 50`
2. Check if `35` is an element in the list. Output either `True` or `False`
3. Extract another list from `x` with elements `20, 40` using the list access notation `[]`.
4. Remove `30` from the list.
5. Assign `40` to be `"N/A"` instead.
6. Remove the last element from the list, without specifying the element to remove (but you can specify the _location_).

In [ ]:
# Your code here (you may create multiple cells)
#x = my_list
my_list = [10, 20, 30, 40, 50]
x = my_list
print(x)

[10, 20, 30, 40, 50]

In [ ]:
#Check if 35 is an element in the list. Output either True or False
35 in x

False

In [ ]:
#Extract another list from x with elements 20, 40 using the list access notation [].
x [1:4:2]

[20, 40]

In [ ]:
#Remove 30 from the list.
x.remove(30)
print(x)

[10, 20, 40, 50]

In [ ]:
#Assign 40 to be "N/A" instead.
x[2] = "N/A"
print(x)

[10, 20, 'N/A', 50]

In [ ]:
#Remove the last element from the list, without specifying the element to remove (but you can specify the location)
x = [10, 20, 'N/A', 50]
x.pop(-1)

50

## Strings
Strings are used to store text. They can be delimited using either single quotes `''` or double quotes `""`. 

Strings behave similarly to lists. As such we can access individual elements in exactly the same way.

In [ ]:
# Example: concatenation
x = "Hello "
y = "World!"

# This works just like lists: you just glue the two "lists" together!
print(x + y)

Hello World!

### Exercise: Strings
Create a string `x` with `"Hello World!"`. Then:
1. Find out the length of `x` with `len`.
2. Check if `"lo"` is part of `x`.
3. Extract substring `"ello"` from `x`
4. Extract substring `"l ol"` from `x`.

In [ ]:
# Your code here (you may create multiple cells)
c = "Hello World!"
print(len(x))

print("lo" in x)

print(x[1:5])

print(x[3:6:2] + x[7:10:2])

12
True
ello
l ol

In [ ]:
print("12 \nTrue\nello\nl ol")

12
True
ello
l ol

## Dictionaries
Dictionaries can be used as some sort of a lookup table, which is useful in many real-world scenarios. For example, you may want to store sales by region.

Dictionaries consist of two parts: "keys" and "values". If you create a dictionary where you can lookup sales by region, the regions are keys and sales numbers are values.

In [ ]:
sales = {"North": 1000,
         "West": 2000,
         "South": 2500,
         "East": 1800}
print(sales)

{'North': 1000, 'West': 2000, 'South': 2500, 'East': 1800}

In [ ]:
# Access
sales["North"]

1000

In [ ]:
sales.keys()

dict_keys(['North', 'West', 'South', 'East'])

In [ ]:
sales.values()

dict_values([1000, 2000, 2500, 1800])

In [ ]:
# Iteration
for (k, v) in sales.items():
  print("Sales in " + k + " region is " + str(v))

Sales in North region is 1000
Sales in West region is 2000
Sales in South region is 2500
Sales in East region is 1800

In [ ]:
# Assignment / Replacement
sales["North"] = 1500
sales["Central"] = 2800
print(sales)

{'North': 1500, 'West': 2000, 'South': 2500, 'East': 1800, 'Central': 2800}

### Exercise: Dictionary
1. Create a dictionary called `inventory` from the following dataset. Use names as keys.

<center>

|Name |Quantity|
|-----|--------|
|Apple|3       |
|Egg  |12      |
|Orange  |30      |
|Bread  |25      |

</center>

2. What's the quantity of `Egg` in our inventory?
3. List all the products we have.
4. Increment the quantity of `Orange` by 15.
5. Log the new inventory where we have `Jelly` with quantity 22. Print the dict.

In [ ]:
#Create a dictionary called inventory from the following dataset. Use names as keys.
data = [
    {"Name": "Apple", "Quantity": 3},
    {"Name": "Egg", "Quantity": 12},
    {"Name": "Orange", "Quantity": 30},
    {"Name": "Bread", "Quantity": 25}
]

inventory = {item["Name"]: item["Quantity"] for item in data}
print(inventory)

{'Apple': 3, 'Egg': 12, 'Orange': 30, 'Bread': 25}

In [ ]:
# What's the quantity of `Egg` in our inventory?
egg_quantity = inventory["Egg"]
print(egg_quantity)

12

In [ ]:
#List all the products we have.
products = list(inventory.keys())
print(products)

['Apple', 'Egg', 'Orange', 'Bread']

In [ ]:
#Increment the quantity of Orange by 15.
inventory["Orange"] += 15
print(inventory)

{'Apple': 3, 'Egg': 12, 'Orange': 45, 'Bread': 25}

In [ ]:
#Log the new inventory where we have Jelly with quantity 22. Print the dict.
inventory["Jelly"] = 22
print(inventory)

{'Apple': 3, 'Egg': 12, 'Orange': 45, 'Bread': 25, 'Jelly': 22}

## Control Flow
You can write code that may execute diffently depending on certain _condition(s)_. Here we discuss boolean data types, boolean operations, and `if` statements.

In [ ]:
# Assign 10 to x
x = 10

# Assign 20 to y
y = 20

In [ ]:
# Compare if 10 equals x
print(x == 10)

# Compare if y is greater than 25
print(y > 25)

True
False

In [ ]:
# Logical operators & Order of Precedence
print(not(x > 10) or (y < 20))
print((x == 10) or (y < 25) and (y > 25))
print(((x == 10) or (y < 25)) and (y > 25))

True
True
False

In [ ]:
if x > 10:
  print("The value of x is greater than 10")
else:
  print("The value of x is less than or equal to 10")

The value of x is less than or equal to 10

In [ ]:
if x > 12:
  print("Great score!")
elif x > 8:
  print("Good score!")
else:
  print("Try again!")

Good score!

In [44]:
tier = "None"
spending = 700

if spending <= 200:
  tier = "Emerald"
elif spending <= 600:
  tier = "Gold"
else:
  tier = "Platinum"

print("Your tier:", tier)

Your tier: Emerald

### Exercise: Control Flow
Write a simple program that calculates your salesperson's compensation. Take an input from user's keyboard (hint: use `input()`), convert that input to an integer `x`. This is your salesperson's total sales this month. 

- If `x` is greater than `15000`, display `"Your compensation this month is "` followed by 10% of `x`. 
- If `x` is between `5000` and `15000` inclusive, display `"Your compensation this month is "` followed by 5% of `x`.
- Otherwise, display `"Your compensation this month is 250"`.

In [51]:
#If x is greater than 15000, display "Your compensation this month is " followed by 10% of x.
# Your code here
x = int(input("Enter your total sales this month: "))

if x > 15000:
    compensation = 0.1 * x
    print("Your compensation this month is", compensation)

Enter your total sales this month: 20000
Your compensation this month is 2000.0

In [55]:
#If x is between 5000 and 15000 inclusive, display "Your compensation this month is " followed by 5% of x.
# Your code here
x = int(input("Enter your total sales this month: "))

if 5000 <= x <= 15000:
    compensation = 0.05 * x
    print("Your compensation this month is", compensation)

Enter your total sales this month: 6000
Your compensation this month is 300.0

In [48]:
#Otherwise, display "Your compensation this month is 250".
# Your code here
x = int(input("Enter your total sales this month: "))

if 5000 <= x <= 15000:
    compensation = 0.05 * x
    print("Your compensation this month is", compensation)
else:
    print("Your compensation this month is 250")

Enter your total sales this month: 2222
Your compensation this month is 250

In [64]:
x = int(input("Enter your total sales this month: "))

if x > 15000:
    #compensation = 0.1 * x
    print("Your compensation this month is 10% : "+str(x*0.5))
elif 5000 <= x <= 15000:
    compensation = 0.05 * x
    print("Your compensation this month is 5% :", compensation)
else:
    print("Your compensation this month is 250 :")

Enter your total sales this month: 150111
Your compensation this month is 10% : 75055.5

## Loops
You can write code that performs repetitive tasks without having to write the same code many times.

In [8]:
x = "Hello World!"
for character in x:
  print(character)

H
e
l
l
o

W
o
r
l
d
!

In [ ]:
for number in [0, 1, 2, 3, 4]:
  print(number)

0
1
2
3
4

In [ ]:
for number in range(10):
  print(number)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Iterate over each element in a list, using indices
index = 0
numbers = list(range(10))
while (index < len(numbers)):
  print(numbers[index])
  index += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Dictionary iteration, revisited
for (k, v) in sales.items():
  print("Sales in " + k + " region is " + str(v))

Sales in North region is 1500
Sales in West region is 2000
Sales in South region is 2500
Sales in East region is 1800
Sales in Central region is 2800

### Exercises: Loops
#### Exercise LOOP.1
Calculate the sum of numbers 1, 2, ..., 1000.

#### Exercise LOOP.2
Calculate the sum of odd numbers from 1, 2, ..., 1000

#### Exercise LOOP.3
Given the `sales` dictionary defined above, calculate total sales from all regions.

In [65]:
#Exercise LOOP.1
#Calculate the sum of numbers 1, 2, ..., 1000.
# Your code here
sum = 0
for i in range(1001):
    sum += i
print(sum,i)

500500 1000

In [83]:
sum = 0 
number = 1
while number <=1000:
  sum += number
  number += 1
print(sum)

500500

In [84]:
#Exercise LOOP.2
#Calculate the sum of odd numbers from 1, 2, ..., 1000
# Your code here
sum = 0
for i in range(1,1001, 2):
    sum += i
print(sum,i)

250000 999

In [85]:
sum = 0
for i in range(1001):
  if i % 2 == 1:
    sum += i
print(sum,i)

250000 1000

In [87]:
sum = 0 
number = 1
while number <=999:
  sum += number
  number += 2
print(sum , number)

250000 1001

In [88]:
#Exercise LOOP.3
#Given the sales dictionary defined above, calculate total sales from all regions.
# Your code here
#sales = {"North": 1000,
#         "West": 2000,
#         "South": 2500,
#         "East": 1800}

sum = 0
for i in sales.values():
  sum = sum + i

print("Given the sales dictionary defined above, calculate total sales from all regions : ",sum)

Given the sales dictionary defined above, calculate total sales from all regions :  7300

## Functions
To improve code readability, it is common to separate the code into different blocks, responsible for performing precise actions: functions. 

A function takes some inputs and process them to return some outputs.

In [69]:
# A simple function that can be reused
def square(x):
  """Returns the squared input."""
  return x * x

# A function can call another function
# docsting 
def sum_squared(numbers):
  """Returns the sum of squared elements in input.
  
  Parameters
  ----------
  numbers: list
    a list of numbers
  """
  sum = 0
  for number in numbers:
    sum += square(number)
  return sum

In [89]:
result = square(10)
print(result)

100

In [ ]:
#[2, -1, 4]
# (2*2 , (-1)*(-1) , 4*4)

In [70]:
# Expect to see 21
samples = [2, -1, 4]
sum_squared(samples)

21

### Exercises: Functions

#### Exercise FUNC.1
Write the [relu](https://en.wikipedia.org/wiki/Rectifier_(neural_networks)) function defined as follows:

$\text{relu}(x) = \left\{
   \begin{array}{rl}
     x, & \text{if }  x \ge 0 \\
     0, & \text{otherwise }.
   \end{array}\right.$

In [96]:
 def relu(x):
  return x if x >= 0 else 0

In [97]:
# What do you expect to see?
print(relu(-3))

# What do you expect to see?
print(relu(3))

0
3

#### Exercise FUNC.2
Using a for loop, write a function that computes the [L1 norm](https://mathworld.wolfram.com/L1-Norm.html) of a vector, represented as a list.

Hint: `import math` and you can use `math.sqrt()`

In [113]:
import math

def l1_norm(vector):
  sum = 0
  for number in vector:
    sum += abs(number)
  return sum

In [114]:
my_vector = [0.5, -1.2, 3.3, 4.5]

# The result should be 9.5
l1_norm(my_vector)

9.5

#### Exercise FUNC.3 
Using a for loop and a conditional, write a function that returns the maximum value in a vector. You may assume that the given vector always has at least 1 element.

In [134]:
def max_value(vector):
  max_val = vector[0]
  for i in vector:
    if i > max_val:
      max_val = i
  return max_val

In [135]:
my_vector = [0.5, -1.2, 3.3, 4.5]
print(max_value(my_vector))

my_vector = [-3.5]
print(max_value(my_vector))

my_vector = [-3.5, 2, -1.2, -10, 1]
print(max_value(my_vector))

4.5
-3.5
2

#### Exercise FUNC.4
Write a function that generates a multiplication table given a number as the input. Generate multiplications using multipliers from 1, 2, ..., 12.

Note that this function does not need to `return` anything. It only needs to print some output.

For example, `multiplication_table(5)` should display the following text:

5 x 1 = 5

5 x 2 = 10

5 x 3 = 15

5 x 4 = 20

5 x 5 = 25

5 x 6 = 30

5 x 7 = 35

5 x 8 = 40

5 x 9 = 45

5 x 10 = 50

5 x 11 = 55

5 x 12 = 60

**Extra credit**: accept an additional parameter `max_multiplier` (default = 12), then generate the multiplication table from 1 up to `max_multiplier`.

In [ ]:
def multiplication_table(number, max_multiplier = 12):
  # Your code here
  print()

In [ ]:
multiplication_table(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

## Extra Challenge

In [ ]:
import requests
r = requests.get('https://jsonplaceholder.typicode.com/posts') #JSON API
data = r.json()

In [ ]:
data

In [ ]:
# Your code here

In [ ]:
value = 2

In [ ]:
name = value

count = 2